[Unit]
Description=API Support for your favorite torrent trackers
After=network.target

[Service]
CPUAccounting={{ 'true' if jackett_cpuaccounting|bool else 'false' }}
CPUQuota={{ jackett_cpuquota }}
ExecStart=/usr/bin/bash -c '{{ [jackett_home, 'jackett']|join('/') }} {{ jackett_opts|join(' ') }}; while pgrep -u jackett JackettUpdater; do sleep 1; done'
Group={{ jackett_group }}
Restart=always
RestartSec=120
SyslogIdentifier=jackett
TimeoutStopSec=20
Type=simple
User={{ jackett_owner }}
WorkingDirectory={{ jackett_home }}

[Install]
WantedBy=multi-user.target
