[Unit]
Description=API Support for your favorite torrent trackers
After=network.target

[Service]
CPUAccounting={{ 'true' if jackett_cpuaccounting|bool else 'false' }}
CPUQuota={{ jackett_cpuquota }}
ExecStart=/bin/sh "{{ jackett_home }}/jackett_launcher.sh"
Group={{ jackett_group }}
Restart=always
RestartSec=5
SyslogIdentifier=jackett
TimeoutStopSec=30
Type=simple
User={{ jackett_owner }}
WorkingDirectory={{ jackett_home }}

[Install]
WantedBy=multi-user.target
